
<body style="background-color:FloralWhite">
  <h1 style="text-align: center; margin-top: 10px; font-family:courier;">Pictures from the OID Department and Events!</h1>

  <div style="text-align: center; margin-top: 25px; margin-bottom: 25px">
    <p>
       <%=image_tag("196_New_Ground.jpg", size: "512x345")%>
       <%=image_tag("196_Rock_paper.jpg", size: "512x345")%>
    </p>
    <p>
    <%=image_tag("196_Dumpling.jpg", size: "512x345")%>
    <%=image_tag("196_Game.jpg", size: "512x345")%>
    </p>
    <p>
    <%=image_tag("196_Lakshmi", size: "512x345")%>
    <%=image_tag("196_Moe_Program.jpg", size: "512x345")%>
    </p>

    <%=image_tag("196_Moe_Program2.jpg", size: "512x345")%>

  </div>
</body>
