<!-- Page Content -->
<style>
.col-lg-4 col-sm-6 text-center mb-4 {
  text-align: left;
}
</style>


<div class="container">

  <!-- Introduction Row -->
  <body style="background-color:FloralWhite; text-align: center">
  <h1 class="my-4">Project 196+ Mentor Network</h1>
  <div style="text-align: justify">
    <p>Project 196 is a year-round OID program for Mudders who
       identify as international, third culture, or global nomads!
       Project 196+ offers key workshops on taxes, employment, understanding
       US politics, community-building, and more! </p>

    <p>Project 196+ also offers a mentoring component, through which
       students can build relationships with other international students
       who share their identities and interests. OID also acts as a liaison
       for I-Place and Project 196+ students, as well as organize Project 196+
       specific events through our office.</p>
  </div>

  <%=image_tag("OID_Cover.png")%>
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Mentors</h2>
      <%-if user_signed_in? %>
          <p><%= link_to 'Become a Mentor', new_professor_path %></p>
      <% end -%>
    </div>
    <% @professors.each do |professor| %>
      <div class="col-lg-4 col-sm-6 text-center mb-4" style="text-align: left">
        <%= link_to image_tag(professor.image.url(:thumb), class: 'img-circle'), professor_path(professor)%>
        <h5><%= link_to professor.Name, professor_path(professor) %></h5>
        <p>Major: <%= professor.Department %></p>
        <p>Dorm: <%= professor.Office %></p>
        <p>Email: <a href = "mailto:<%=professor.Email%>"><%=professor.Email%></a></p>
        <p>Phone Number: <%= professor.Phone_Number %></p>
        <p>Nationality: <%= professor.Nationality %></p>
      <%-if user_signed_in? %>
          <%= link_to 'Update Profile', edit_professor_path(professor) %>
      <% end -%>
      </div>
      <% end %>

  </div>
  </body>
</div>
<!-- /.container -->
