<!-- Page Content -->
<style>
.col-lg-4 col-sm-6 text-center mb-4 {
  text-align: left;
}
</style>


<div class="container">

  <!-- Introduction Row -->
  <body style="background-color:FloralWhite; text-align: center">
  <h1 class="my-4">Project 196+ Mentor Network</h1>
  <p>This site is a tool to connect new international students at HMC with returning students who share the international identity. Students profiled on this network have self-selected to be mentors and are eager to meet and build relationships with the international student community at HMC.</p>

  <%=image_tag("HMC_OID_website_header_photo.jpg")%>
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Mentors</h2>
      <p><%= link_to 'Become a Mentor', new_professor_path %></p>
    </div>
    <% @professors.each do |professor| %>
      <div class="col-lg-4 col-sm-6 text-center mb-4" style="text-align: left">
        <%= link_to image_tag(professor.image.url(:thumb), class: 'img-circle'), professor_path(professor)%>
        <h5><%= link_to professor.Name, professor_path(professor) %></h5>
        <p>Major: <%= professor.Department %></p>
        <p>Dorm: <%= professor.Office %></p>
        <p>Email: <a href = "mailto:<%=professor.Email%>"><%=professor.Email%></a></p>
        <p>Phone Number: <%= professor.Phone_Number %></p>
        <p>Nationality: <%= professor.Nationality %></p>
      </div>
      <% end %>

  </div>
  </body>
</div>
<!-- /.container -->
