<h1>Listing Professors</h1>
<%-if user_signed_in? %>
  <%= link_to 'New Professor', new_professor_path %>
<% end -%>
<table>
  <tr>
    <th>Name</th>
    <th>Headshots</th>
    <th>Department</th>
    <th>Nationality</th>
  </tr>

  <% @professor.each do |professor| %>
    <tr>
      <td><%= professor.Name %></td>
      <td><%= link_to image_tag(professor.image.url(:thumb), class: 'img-circle'), professor_path(professor)%></td>
      <td><%= professor.Department %></td>
      <td><%= professor.Nationality %></td>
      <td><%= link_to 'Show', professor_path(professor) %></td><br>
      <%-if user_signed_in? %>
        <td><%= link_to 'Update Profile', edit_professor_path(professor) %></td><br>
      <% end -%>
    </tr>
  <% end %>
  <% if @professor.blank? %>
    <h4>There are no professor containing the term <%= params[:search] %>.</h4>
  <% end %>
</table>
