<h1>Listing Professors</h1>
<%= link_to 'New Professor', new_professor_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Headshots</th>
    <th>Email</th>
    <th>Office</th>
    <th>Department</th>
    <th>Phone</th>
    <th>Nationality</th>
    <th>Personal Statement</th>
  </tr>

  <% @professors.each do |professor| %>
    <tr>
      <td><%= professor.Name %></td>
      <td><%= professor.image %></td>
      <td><%= professor.Office %></td>
      <td><%= professor.Department %></td>
      <td><%= professor.Email %></td>
      <td><%= professor.Phone_Number %></td>
      <td><%= professor.Nationality %></td>
      <td><%= professor.Personal_Statement %></td>
      <td><%= link_to 'Show', professor_path(professor) %></td><br>
      <td><%= link_to 'Edit', edit_professor_path(professor) %></td><br>
      <td><%= link_to 'Destroy', professor_path(professor),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
