<body style="background-color:FloralWhite">

  <style>
  body {
      background: #555;
  }

  .content {
      max-width: 700px;
      margin: auto;
      background: white;
      text-align: center;
  }
  </style>
<p style="background-color:FloralWhite, margin-bottom: 10px"></p>
<body>

<div class="content">
<h2>
  <%= @professor.Name %>
</h2>


<div class="row">
  <div class="column">
     <p style="padding-top: 25px">
       <%= link_to image_tag(@professor.image.url(:thumb), class: 'img-circle'), professor_path(@professor)%>
     </p>

  </div>

  <div class="column">
     <p>
   	 <strong>Email:</strong>
  	 <%= @professor.Email %>
     </p>

     <p>
      	 <strong>Dorm:</strong>
         <%= @professor.Office %>
     </p>

     <p>
       	 <strong>Major:</strong>
         <%= @professor.Department %>
    </p>

    <p>
  	 <strong>Phone:</strong>
  	 <%= @professor.Phone_Number %>
    </p>

    <p>
     <strong>Nationality:</strong>
     <%= @professor.Nationality %>
    </p>

  </div>

</div>

<style>
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>


<h4>
Personal Statement
</h4>
<p style="padding-left: 10px; padding-right: 10px" >
  <i>  <%= @professor.Personal_Statement %> </i>
</p>

<%= link_to 'Back', welcome_index_path %><br>

</div>
<p style="background-color:FloralWhite, margin-bottom: 20px"></p>
</body>
